<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mx-auto">Sarath PS</span>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="insta-div col-6">
      <a href="https://www.instagram.com/mr_sararath/" target="_blank"
        >Instagram</a
      >
    </div>
    <div class="github-div col-6">
      <a href="https://github.com/sarathpslive" target="_blank">GitHub</a>
    </div>
  </div>
  <div class="row">
    <div class="resume-div col-6">
      <a href="http://resume.sarathps.in/" target="_blank">Resume</a>
    </div>
    <div class="whatsapp-div col-6">
      <a href="https://wa.me/919746223387" target="_blank">WhatsApp</a>
    </div>
  </div>
</div>
